<div class="container">
    <form [formGroup]="brokerForm" #SENDFORM="ngForm">
        <div class="card">
            <div class="card-header">
                <h4>Broker Information</h4>
            </div>
            <div class="card-body">

                <!-- name -->
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for='name'>Name </label>
                            <input id="name" class="form-control" type="text" formControlName="name"
                                placeholder="Enter Name" />
                            <div *ngIf="getForm.name.invalid && (getForm.name.dirty || getForm.name.touched)"
                                class="alert alert-danger">
                                <div *ngIf="getForm.name.errors.required">
                                    Name is required.
                                </div>
                                <div *ngIf="getForm.name.errors.minlength">
                                    Name must be at least 3 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- email -->
                        <div class="form-group">
                            <label for='email'>Email </label>
                            <input class="form-control" type="email" formControlName='email'
                                [class.notValid]="emailControl.errors?.notUnique" placeholder="Enter Email" />
                            <!-- <div *ngIf="getForm.email.invalid && (getForm.email.dirty || getForm.email.touched)"
                                class="alert alert-danger">
                                <div *ngIf="getForm.email.errors.required">
                                    Email is required.
                                </div>
                            </div> -->
                            <div class="alert alert-danger fade show"
                                *ngIf="emailControl.touched && emailControl.invalid && !emailControl.errors?.notUnique">
                                Email Required
                            </div>
                            <div class="alert alert-danger fade show" *ngIf="emailControl.errors?.notUnique">
                                Email Already in Use
                            </div>
                            <div class="alert alert-warning fade show" *ngIf="emailControl.pending">
                                Checking Availability...
                            </div>
                        </div>

                    </div>
                    <!-- phone -->
                    <div class="col">
                        <div class="form-group">
                            <label for="mobile">Mobile Number </label>
                            <input class="form-control" type="number" formControlName='mobile'
                                placeholder="Enter Phone Number" />
                            <div *ngIf="getForm.mobile.invalid && (getForm.mobile.dirty || getForm.mobile.touched)"
                                class="alert alert-danger">
                                <div *ngIf="getForm.mobile.errors.required">
                                    Mobile Number is required.
                                </div>
                                <div class="tag" *ngIf="getForm.mobile.errors.maxlength">Invalid Mobile Number
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for='companyName'>Company Name </label>
                            <select id="companyName" formControlName="companyName" class="form-control"
                                (change)="searchID(getForm.companyName.value)">
                                <option selected [ngValue]="null">Choose...</option>
                                <option *ngFor="let item of realEstateArray" [value]="item.companyName">
                                    {{ item.companyName }}
                                </option>
                            </select>
                        </div>
                    </div> -->
                <!-- company name -->
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for='companyName'>Company Name </label>
                            <select id="companyName" formControlName="companyName" class="form-control"
                                (change)='onSelectChange(getForm.companyName.value)'>
                                <option selected [ngValue]=''>Choose...</option>
                                <option *ngFor="let item of realEstateArray" [value]="item.companyName">
                                    {{ item.companyName }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <!-- real estate id -->
                    <div class="col">
                        <label for='realEstateId'>Your Real Estate Id is : </label>
                        <input disabled id="realEstateId" class="form-control" type="text"
                            formControlName="realEstateId" [value]="selectedObject" />
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for='location'>Location </label>
                            <input id="location" class="form-control" type="text" formControlName="location"
                                placeholder="Enter Location" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for='Rera_Number'>RERA Number </label>
                        <input id="Rera_Number" class="form-control" type="text" formControlName="Rera_Number"
                            placeholder="Enter RERA Number" />
                    </div>
                    <div class="col">
                        <label for='GST_Number'>GST Number </label>
                        <input id="GST_Number" class="form-control" type="text" formControlName="GST_Number"
                            placeholder="Enter GST Number" />
                    </div>
                </div>
                <!-- seperator -->
                <div class="row">
                    <div class="col">
                        <hr />
                    </div>
                </div>
                <!--  -->
                <div class="row">
                    <div class="col">
                        <button class="btn btn-success btn-block" [disabled]="SENDFORM.invalid || SENDFORM.pending"
                            (click)='send()' type="submit">Submit</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-secondary btn-block " type="reset">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>