/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
 
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input.ng-invalid.ng-touched, input.notValid{
  border:0px solid red;
  border-right: 0px solid red;
  box-shadow: 0 0 0 0.2rem rgba(255, 64, 32, .25);
}
input.ng-pending{
  border:1px solid orange;
  border-right: 1px solid orange;
  box-shadow: 0 0 0 0.2rem rgba(255, 128, 2, .25);
}
.matInput{
  display: inline-flex;
}
form label {font-weight:500}
.form-container{
  padding: 10px 0 0 0 ;
}
button{
  margin: 10px;
}
.full-width{
  width: 100%;
}
mat-label{
padding: 0.75em 0;
font-weight: 500;
}

mat-card{
background-color: rgb(245, 245, 245);
}