<div class="container">
    <form [formGroup]="residenceVillaForm" #SENDFORM="ngForm">
        <div class="card">
            <div class="card-header">
                <h4>Residence - Villa Information</h4>

            </div>
            <div class="card-body">


                <!-- name -->
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for='societyName'>Society Name </label>
                            <input disabled id="societyName" class=" form-control" type="text"
                                formControlName="societyName" />
                        </div>
                    </div>
                    <div class="col">
                        <!-- email -->
                        <div class="form-group">
                            <label for='address'>Address </label>
                            <input disabled class="form-control" type="text" formControlName='address' />
                        </div>

                    </div>
                    <!-- phone -->
                    <div class="col">
                        <div class="form-group">
                            <label for="ageOfProperty">Age of Property </label>
                            <input disabled class="form-control" type="text" formControlName='ageOfProperty' />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for='area'>Area </label>
                            <input disabled class="form-control" type="number" formControlName='area' />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for='price'>Price </label>
                            <input disabled class="form-control" type="number" formControlName='price' />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for='description'>Description </label>
                            <input disabled class="form-control" type="text" formControlName='description' />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for='parking'>Parking </label>
                            <select disabled id="parking" formControlName="parking" class="form-control">
                                <option>{{residenceVillaModel.parking}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for='furnishingStatus'>Furnishing status </label>
                            <select disabled id="furnishingStatus" formControlName="furnishingStatus"
                                class="form-control">
                                <option>{{residenceVillaModel.furnishingStatus}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for='timeToVisit'>Best time to visit property </label>
                            <input disabled id="timeToVisit" class="form-control" type="text"
                                formControlName="timeToVisit" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for='loanRequired'>Any existing loan on property/Loan required</label>
                            <select disabled id="loanRequired" formControlName="loanRequired" class="form-control">
                                <option>{{residenceVillaModel.loanRequired}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for='amenities'> Amenities </label>
                            <select id="amenities" formControlName="amenities" class="form-control">
                                <option>{{residenceVillaModel.amenities}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="row">
                    <div class="col">
                        <hr />
                    </div>
                </div>
                <!--  -->
                <div class="row">
                    <div class="col">
                        <button [routerLink]="['/editResidenceVilla',snapshotId]" id='edit'
                            class="btn btn-dark">Edit</button>
                        <button (click)="deleteResidenceVilla(snapshotId)" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>