<nav>
    <a mat-button [routerLink]="['/']">Home<span class="sr-only">(current)</span></a>
    <a mat-button [routerLink]="['/listCustomers']">Customers List</a>
    <a mat-button [routerLink]="['/listBrokers']">Brokers List</a>
    <a mat-button [routerLink]="['/listRealEstate']">Real Estate List</a>
    <!-- <a mat-button [routerLink]="['/listResidence']">Residence List</a> -->
    <button mat-button [matMenuTriggerFor]="menu">Residence List</button>
    <mat-menu #menu="matMenu" class="bg-dark">
        <a style="color: white;" class="custom-atag" mat-menu-item [routerLink]="['/listResidenceVilla']">Villas</a>
        <a style="color: white;" class='custom-atag' mat-menu-item
            [routerLink]="['/listResidenceApartment']">Apartments</a>
        <a style="color: white;" class='custom-atag' mat-menu-item [routerLink]="['/listResidenceHouse']">Apartments</a>
    </mat-menu>
    <!-- <a mat-icon-button routerLink="search" matTooltip="Search">
        <mat-icon>search</mat-icon>
    </a> -->
</nav>