<mat-toolbar class="mat-elevation-z3 bg-dark">
    <span>
        <mat-icon [routerLink]="['/']">home</mat-icon>
    </span>
    <nav>
        <a mat-button [routerLink]="['/']">Home<span class="sr-only">(current)</span></a>
        <a mat-button [routerLink]="['/listCustomers']">Customers List</a>
        <a mat-button [routerLink]="['/listBrokers']">Brokers List</a>
        <a mat-button [routerLink]="['/listRealEstate']">Real Estate List</a>
        <a mat-icon-button routerLink="search" matTooltip="Search">
            <mat-icon>search</mat-icon>
        </a>
    </nav>
</mat-toolbar>
<div class="app-content">
    <router-outlet></router-outlet>
</div>