<div class="container">
    <div class="card">
        <div class="card-header">
            {{notes.title}}
        </div>
        <div class="card-body">
            {{notes.description}}
            <br />
            {{notes.author}}
        </div>
        <div class="card-footer">
            <button (click)='settings()' type="submit" class="btn btn-dark">
                <span *ngIf="!opt">Options</span>
                <span *ngIf="opt">Hide Options</span>
            </button>
            <br /><br />
            <span *ngIf="opt">
                <button [routerLink]="['/editNote',notes.id]" class="btn btn-outline-info btn-block">Edit</button>
                <button (click)='delete(notes)' class="btn btn-outline-danger btn-block">Delete</button>
            </span>
        </div>
    </div>
</div>