<div class="container">
    <div class="card">
        <div class="card-header">
            <h4> Customer Information </h4>
            <span style="margin: 1rem;"></span>
            <button (click)='showForm()' type="submit" class="btn btn-block btn-outline-info">
                <span *ngIf="!setForm">Show Info</span>
                <span *ngIf="setForm">Hide Info</span>
            </button>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>First Name </label>
                {{customersInput.firstName}}
            </div>
            <div class="form-group">
                <label>Last Name </label>
                {{customersInput.lastName}}
            </div>
            <div class="form-group">
                <label>Email </label>
                {{customersInput.email}}
            </div>
            <span *ngIf="setForm">
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    {{customersInput.phoneNumber}}
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    {{customersInput.gender}}
                </div>
                <div class="form-group">
                    <label>Date of Birth</label>
                    {{customersInput.dateOfBirth}}
                </div>

                <!-- seperator -->
                <div class="row">
                    <div class="col">
                        <hr />
                    </div>
                </div>
                <!-- address form portion -->
                <div class="form-group">
                    <label> Address</label>
                    {{customersInput.address}}
                </div>
                <div class="form-group">
                    <label> City</label>
                    {{customersInput.city}}
                </div>
                <div class="form-group">
                    <label> State</label>
                    {{customersInput.state}}
                </div>
                <div class="form-group">
                    <label> Zipcode</label>
                    {{customersInput.zipcode}}
                </div>
                <!-- seperator -->
                <div class="row">
                    <div class="col">
                        <hr />
                    </div>
                </div>
                <!--  -->
                <div class="form-group">
                    <label> Occupation</label>
                    {{customersInput.occupation}}
                </div>
                <div class="form-group">
                    <label> Organisation Name</label>
                    {{customersInput.orgName}}
                </div>
                <div class="form-group">
                    <label> Sector</label>
                    {{customersInput.sector}}
                </div>
                <div class="form-group">
                    <label> Residence Type</label>
                    {{customersInput.residenceType}}
                </div>
                <div class="form-group">
                    <label> Current Residence</label>
                    {{customersInput.currResidence}}
                </div>
                <div class="form-group">
                    <label> Booking</label>
                    {{customersInput.bookingPref}}
                </div>
                <div class="form-group">
                    <label> Budget</label>
                    {{customersInput.budget}}
                </div>
                <div class="form-group">
                    <label> Possession</label>
                    {{customersInput.possession}}
                </div>
                <div class="form-group">
                    <label> Purpose of Buying</label>
                    {{customersInput.purpose}}
                </div>
                <div class="form-group">
                    <label> Financing Details</label>
                    {{customersInput.financeDetail}}
                </div>
                <!-- seperator -->
                <div class="row">
                    <div class="col">
                        <hr />
                    </div>
                </div>
                <!--  -->
                <div class="form-group">
                    <label>Channel Partner Firm Name </label>
                    {{customersInput.chFirmName}}
                </div>
            </span>
            <!--  -->
        </div>
        <div class="card-footer">
            <button (click)='settings()' type="submit" class="btn btn-outline-success btn-block">
                <span *ngIf="!opt">Options</span>
                <span *ngIf="opt">Hide Options</span>
            </button>
            <br /><br />
            <span *ngIf="opt">
                <button [routerLink]="['/editCustomer',customersInput.id]" class="btn btn-dark btn-block">Edit</button>
                <button (click)='delete(customersInput)' class="btn btn-danger btn-block">Delete</button>
            </span>
        </div>
    </div>
</div>