<div class="container">
    <form [formGroup]="commercialPropertyForm" #SENDFORM="ngForm">
        <div class="card">
            <div class="card-header">
                <h4>Commercial Property Form</h4>
            </div>
            <div class="card-body">
                <!-- name -->
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for='name'>Name </label>
                            <input id="name" class=" form-control" type="text" formControlName="name" />

                        </div>
                    </div>
                    <div class="col">
                        <!-- email -->
                        <div class="form-group">
                            <label for='address'>Address </label>
                            <input class="form-control" type="text" formControlName='address' />

                        </div>

                    </div>
                    <!-- phone -->
                    <div class="col">
                        <div class="form-group">
                            <label for="ageOfProperty">Age of Property</label>
                            <input class="form-control" type="text" formControlName='ageOfProperty' />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for='area'>Area </label>
                            <input class="form-control" type="number" formControlName='area' />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for='price'>Price </label>
                            <input class="form-control" type="text" formControlName='price' />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for='totalUnits'>Total Units </label>
                            <input class="form-control" type="number" formControlName='totalUnits' />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for='description'>Description </label>
                            <input class="form-control" type="text" formControlName='description' />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for='approvals'>Approvals available</label>
                            <select id="approvals" formControlName="approvals" class="form-control">
                                <option>
                                    {{ commercialPropertyModel.approvals }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for='timeToVisit'>Best time to visit property </label>
                            <input id="timeToVisit" class="form-control" type="text" formControlName="timeToVisit" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for='loanRequired'>Loan Required</label>
                            <select id="loanRequired" formControlName="loanRequired" class="form-control">
                                <option>
                                    {{ commercialPropertyModel.loanRequired }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for='amenities'> Amenities </label>
                            <select id="amenities" formControlName="amenities" class="form-control">
                                <option>{{commercialPropertyModel.amenities}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for='areaBand'>Area Band </label>
                            <input class="form-control" type="number" formControlName='areaBand' />
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="row">
                    <div class="col">
                        <hr />
                    </div>
                </div>
                <!--  -->
                <mat-card-actions>
                    <div class="row">
                        <div class="col">
                            <button [routerLink]="['/editCommercialProperty',snapshotId]" id='edit'
                                class="btn btn-dark">Edit</button>
                            <button (click)="deleteCommercial(snapshotId)" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </mat-card-actions>
            </div>
        </div>
    </form>
</div>