table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  a{
    text-decoration: none;
    color: white;
}
h4{
  color: white;
}
.example-header{
  text-align: center;
}