table {
    width: 100%;
  }
th.mat-sort-header-sorted {
    color: black;
  }
  a{
    text-decoration: none;
    color: white;
}
.custom{
    color: black;
}
section {
  display: table;
}
h4{
  color: white;
}
.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}
.example-header{
  text-align: center;
}
